blogging website - frontend/node_modules
server/node_modules
.env
requests.rest

# env and keys
blogging website - frontend/.env
server/.env
server/blogging-website-202c6-firebase-adminsdk-z0n2u-9f830f09ee.json

# firebase keys
blogging website - frontend/src/common/firebase.jsx
